<input type="hidden" th:field="${preForm.transactionType}" class="form-control" id="transactionType2">
<input type="hidden" th:field="${preForm.selectedOption}" class="form-control" id="selectedOption2">
<input type="hidden" th:field="${preForm.amount}" class="form-control" id="amount">
<input type="hidden" th:field="${preForm.date}" class="form-control" id="date">
<input type="hidden" th:field="${preForm.description}" class="form-control" id="description">
<!--<input type="hidden" th:field="${mailing}" class="form-control" id="mailing">-->

<div class="mb-3">
    <p th:text="'Opis transakcji: ' + ${preForm.description}"></p>
</div>

<div class="mb-3">
    <p th:text="'Data: ' + ${preForm.date}"></p>
</div>

<div th:if="${preForm.selectedOption == '1' || preForm.selectedOption == '3'}" class="mb-3">
    <p th:text="'Kwota do podziału: ' + ${#numbers.formatDecimal(preForm.amount, 0, 'WHITESPACE', 2, 'COMMA')}"></p>
</div>
<div th:if="${preForm.selectedOption == '2' || preForm.selectedOption == '4'}" class="mb-3">
    <p th:text="'Kwota do przypisania: ' + ${#numbers.formatDecimal(preForm.amount, 0, 'WHITESPACE', 2, 'COMMA')}"></p>
</div>
<div th:if="${preForm.selectedOption == '6'}" class="mb-3">
    <p th:text="'Po składce dzieci mają osiągnąć saldo: ' + ${#numbers.formatDecimal(preForm.amount, 0, 'WHITESPACE', 2, 'COMMA')}" type="number" step=".01"></p>
</div>


<fieldset>
    <table th:if="${preForm.selectedOption == '0' || preForm.selectedOption == '5'}">
        <thead>
        <tr>
            <th></th>
            <th></th>
            <th> Child</th>
            <th> Amount</th>
            <th> Desc</th>
            <th> Date</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="transaction, itemStat : *{transactions}">
            <td><input type="hidden" th:field="*{transactions[__${itemStat.index}__].child}" /></td>
            <td><input type="hidden" th:field="*{transactions[__${itemStat.index}__].type}" /></td>
            <td th:text="*{transactions[__${itemStat.index}__].child.getFirstName() + ' ' + transactions[__${itemStat.index}__].child.getLastName()}"></td>
            <td><input type="number" step=".01" tabindex=1 th:field="*{transactions[__${itemStat.index}__].amount}" /></td>
            <td><input tabindex=0 th:field="*{transactions[__${itemStat.index}__].description}" /></td>
            <td><input type="date" tabindex=0 th:field="*{transactions[__${itemStat.index}__].date}" /></td>

        </tr>
        </tbody>
    </table>

    <table th:if="${preForm.selectedOption == '3' || preForm.selectedOption == '4'}">
        <thead>
        <tr>
            <th></th>
            <th></th>
            <th> Wybierz</th>
            <th> Child</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="transaction, itemStat : *{transactions}">
            <td><input type="hidden" th:field="*{transactions[__${itemStat.index}__].child}" /></td>
            <td><input type="hidden" th:field="*{transactions[__${itemStat.index}__].type}" /></td>
            <td><input type="checkbox" th:field="*{transactions[__${itemStat.index}__].isParticipating}" /></td>
            <td th:text="*{transactions[__${itemStat.index}__].child.getFirstName() + ' ' + transactions[__${itemStat.index}__].child.getLastName()}"></td>
            <td><input type="hidden" th:field="*{transactions[__${itemStat.index}__].amount}" /></td>
            <td><input type="hidden" th:field="*{transactions[__${itemStat.index}__].description}" /></td>
            <td><input type="hidden" tabindex=0 th:field="*{transactions[__${itemStat.index}__].date}" /></td>


        </tr>
        </tbody>
    </table>

    <table th:unless="${preForm.selectedOption == '0' || preForm.selectedOption == '3' || preForm.selectedOption == '4' || preForm.selectedOption == '5'}">
        <tbody>
        <tr th:each="transaction, itemStat : *{transactions}">
            <td><input type="hidden" th:field="*{transactions[__${itemStat.index}__].child}" /></td>
            <td><input type="hidden" th:field="*{transactions[__${itemStat.index}__].type}" /></td>
            <td><input type="hidden" th:field="*{transactions[__${itemStat.index}__].amount}" /></td>
            <td><input type="hidden" th:field="*{transactions[__${itemStat.index}__].description}" /></td>
            <td><input type="hidden" tabindex=0 th:field="*{transactions[__${itemStat.index}__].date}" /></td>

        </tr>
        </tbody>
    </table>

    <input class="btn btn-primary" type="submit" id="submitButton" th:value="'Zatwierdź'">
    <a class="btn btn-outline-primary" th:href="${'/mvc/class/' + __${form.transactions[0].child.getSchoolClass().getId}__}" role="button">Rezygnuj i wróć do klasy</a>
</fieldset>