<form th:action="@{/mvc/transaction/precreate}" th:object="${preForm}"
                  method="post" >

<input type="hidden" th:field="${preForm.transactionType}" class="form-control" id="transactionType1">

<div class="mb-3">
    <label for="description" class="form-label">Opis transakcji:</label>
    <input type="text" th:field="*{description}" class="form-control" th:value="Wpłata" id="description">
</div>

<div class="mb-3">
    <label for="date" class="form-label">Data:</label>
    <input type="date" th:field="*{date}"  class="form-control" id="date">
</div>



<div th:if="${preForm.transactionType == 'deb'}" class="mb-3">
    <label for="amount1" class="form-label">Kwota - gdy przypisanie ma być równe (dla wszystkich lub wybranych uczniów):</label>
    <input type="number" step=".01" th:field="*{amount}"  class="form-control" id="amount1">
</div>

<div th:if="${preForm.transactionType == 'due'}" class="mb-3">
    <label for="amount2" class="form-label">Kwota:</label>
    <input type="number" step=".01" th:field="*{amount}"  class="form-control" id="amount2">
</div>


<div th:if="${preForm.transactionType == 'pay'}" class="form-group">
    <input type="hidden" th:field="${preForm.selectedOption}" class="form-control" id="selectedOption1">
</div>

<div th:if="${preForm.transactionType == 'deb'}" class="form-group">

    <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="option1" name="option1" class="custom-control-input" value="1" th:field="*{selectedOption}">
        <label class="custom-control-label" for="option1">Podziel kwotę po równo na wszystkie dzieci</label>
    </div>
    <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="option2" name="option2" class="custom-control-input" value="2" th:field="*{selectedOption}">
        <label class="custom-control-label" for="option2">Przypisz tą kwotę dla każdego z dzieci</label>
    </div>
    <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="option3" name="option3" class="custom-control-input" value="3" th:field="*{selectedOption}">
        <label class="custom-control-label" for="option3">Podziel kwotę po równo na wybrane dzieci</label>
    </div>
    <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="option4" name="option4" class="custom-control-input" value="4" th:field="*{selectedOption}">
        <label class="custom-control-label" for="option4">Przypisz tą kwotę wybranym dzieciom</label>
    </div>
    <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="option5" name="option5" class="custom-control-input" value="5" th:field="*{selectedOption}">
        <label class="custom-control-label" for="option5">Swobodne przypisanie wydatków</label>
    </div>
</div>

<div th:if="${preForm.transactionType == 'due'}" class="form-group">

    <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="option2a" name="option2a" class="custom-control-input" value="2" th:field="*{selectedOption}">
        <label class="custom-control-label" for="option2a">Przypisz tą kwotę jako składkę dla każdego z dzieci</label>
    </div>
    <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="option6" name="option6" class="custom-control-input" value="6" th:field="*{selectedOption}">
        <label class="custom-control-label" for="option6">Uzupełnij stan konta każdego dziecka do tej kwoty</label>
    </div>
    <p></p>
    <div>
        <input type="checkbox" name="mailing" class="custom-control-input" th:checked="${mailing}" />
        <label class="custom-control-label"  name="mailing2">Wyślij mailing o składce</label>
<!--        <input type="checkbox" class="custom-control-input" th:checked="${mailing} ? 'Y' : 'N'" />-->
<!--        <input type="checkbox" class="custom-control-input" name="mailing" th:checked="${mailing}"  />-->
<!--        <label class="custom-control-label"  name="mailing">Wyślij mailing o składce</label>-->

    </div>
</div>


    <p></p>
<input class="btn btn-primary" type="submit" id="preSubmitButton" th:value="Dalej">

</form>