<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Zaktualizuj hasło</title>
  <link rel="stylesheet" href="/webjars/bootstrap/5.2.0/css/bootstrap.min.css">
  <script src="/webjars/bootstrap/5.2.0/js/bootstrap.min.js"></script>
</head>

<body>
<header th:insert="fragments/header/header.html"></header>
<div class="container">
  <h2>Ustaw nowe hasło</h2>

  <form th:method="post" th:action="@{/mvc/user/update}" th:object="${user}">
      <input type="hidden" th:field="*{id}" class="form-control" id="id">
      <div class="mb-3">
        <label for="firstName" class="form-label">Imię:</label>
        <input type="text" th:field="*{firstName}" readonly class="form-control" id="firstName">
      </div>
      <div class="mb-3">
        <label for="lastName" class="form-label">Nazwisko:</label>
        <input type="text" th:field="*{lastName}" readonly class="form-control" id="lastName">
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email:</label>
        <input type="email" th:field="*{email}" readonly class="form-control" id="email">
      </div>
      <div class="mb-3">
        <label for="login" class="form-label">Login:</label>
        <input type="text" th:field="*{login}" readonly class="form-control" id="login">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Nowe hasło:</label>
        <input type="password" th:field="*{password}" class="form-control" id="password">
      </div>
      <input type="hidden" th:field="*{role}" class="form-control" id="role">
      <input type="hidden" th:field="*{children}" class="form-control" id="children">
      <input type="hidden" name="isEnabled" th:value="true" class="form-control" id="isEnabled">
<!--    </div>-->
    <p></p>

    <button type="submit" class="btn btn-primary">Zapisz zmiany</button>
  </form>
</div>
</body>
</html>