<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <meta charset="UTF-8">
  <title>Lista dzieci</title>
  <link rel="stylesheet" href="/webjars/bootstrap/5.2.0/css/bootstrap.min.css">
  <script src="/webjars/bootstrap/5.2.0/js/bootstrap.min.js"></script>
</head>

<body>
<header th:insert="fragments/header/header.html"></header>


<div class = "container">
  <h2>Lista dzieci</h2>
  <table class="table table-sm table-striped w-75">
    <thead class="thead-light">
    <tr>
      <th scope="col" >Id</th>
      <th scope="col" >Imię</th>
      <th scope="col" >Nazwisko</th>
<!--      todo: widoczność w pełnym widoku listy-->
      <th scope="col" >Klasa</th>
      <th scope="col" ></th>
      <th scope="col" ></th>
    </tr>
    </thead>


    <tbody class="table-group-divider">
    <tr th:each="child : ${children}">
      <th scope="row" th:text="${child.id}"> </th>
      <td th:text="${child.firstName}"> </td>
      <td th:text="${child.lastName}"> </td>
      <td th:text="${child.schoolClass.name}"> </td>

      <td>
        <form th:action="${'/mvc/child/' + child.id}" th:method="get">
        <button type="submit" class="btn btn-outline-primary btn-sm" >Edytuj</button>
        </form>
      </td>
      <td>
        <form th:action="${'/mvc/child/balance/' + child.id}" th:method="post">
        <button type="submit" class="btn btn-outline-primary btn-sm" >Zobacz transakcje</button>
        </form>
      </td>

    </tr>
    </tbody>
  </table>

  <a class="btn btn-primary" onclick="history.back()" role="button">Powrót</a>
  <a class="btn btn-primary" onclick="window.print()" role="button">Drukuj</a>
</div>
<footer th:insert="fragments/footer/footer.html"></footer>

</body>
</html>