<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Klasa - szczegóły</title>
  <link rel="stylesheet" href="/webjars/bootstrap/5.2.0/css/bootstrap.min.css">
  <script src="/webjars/bootstrap/5.2.0/js/bootstrap.min.js"></script>
</head>

<body>
<header th:insert="fragments/header/header.html"></header>

<div class = "container" style="padding: 20px;">
    <div class="row border border-primary" style="padding: 20px; margin: 10px; ">
    <h2>Klasa</h2>
    <p th:text="'Nazwa: ' + ${schoolClass.getName()}"></p>
    <p th:text="'Aktualne saldo środków pieniężnych: ' + ${#numbers.formatDecimal(schoolClassBalance, 1, 'WHITESPACE', 2, 'COMMA')}"></p>
    <p th:text="'Aktualne saldo wpłat: ' + ${#numbers.formatDecimal(schoolClassPaymentBalance, 1, 'WHITESPACE', 2, 'COMMA')}"></p>

      <div class="nav-link px-2 link-dark dropdown">
        <button class="btn btn-primary dropdown-toggle m-2 px-2 py-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dodaj transakcję
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" th:href="@{/mvc/transaction/precreate/due}">Dodaj nową składkę</a>
          <a class="dropdown-item" th:href="@{/mvc/transaction/precreate/pay}">Dodaj wpłaty na konta uczniów</a>
          <a class="dropdown-item" th:href="@{/mvc/transaction/precreate/deb}">wydatki na konta uczniów</a>
        </div>
      </div>

    </div>

<div class="row border border-primary" style="padding: 20px; margin: 10px; ">
  <h2>Uczniowie</h2>

  <div th:unless="${schoolClass.getChildren().size()<2}">
    <p th:text="'Klasa liczy uczniów aktywnych: ' + ${children.size()}"></p>
    <table id="childrenInClass"  class="table table-striped" >
      <thead>
      <tr>
        <th scope="col">Imię</th>
        <th scope="col">Nazwisko</th>
        <th scope="col">Saldo ucznia</th>
        <th scope="col">Saldo wpłat ucznia</th>
        <th scope="col">Liczba kont rodziców</th>
      </tr>
      </thead>

      <tbody class="table-group-divider">
      <tr th:each="child, iStat : ${children}">
        <div>
          <td th:text="${child.firstName}"> </td>
          <td th:text="${child.lastName}"> </td>
          <td th:text="${#numbers.formatDecimal(childrenBalances.get(iStat.index), 1, 'WHITESPACE', 2, 'COMMA')}"> </td>
          <td th:text="${#numbers.formatDecimal(childrenPaymentBalances.get(iStat.index), 1, 'WHITESPACE', 2, 'COMMA')}"> </td>
          <td th:text="${child.getParents().size()}"> </td>

          <td>
            <a class="btn btn-outline-primary btn-sm" th:href="${'/mvc/child/balance/' + child.id}" role="button">Transakcje</a>
            <a class="btn btn-outline-primary btn-sm" th:href="${'/mvc/child/' + child.id}" role="button">Edytuj</a>
            <a class="btn btn-outline-primary btn-sm" th:href="${'/mvc/child/' + child.id + '/checkparent'}" role="button">Dodaj rodzica</a>
          </td>
        </div>
      </tr>

      <tr th:if="${childrenNonActive.size() > 0}">
        <td>Nieaktywni:</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr th:if="${childrenNonActive.size() > 0}" th:each="child, iStat : ${childrenNonActive}">
        <div>
          <td class="text-secondary" th:text="${child.firstName}"> </td>
          <td class="text-secondary" th:text="${child.lastName}"> </td>
          <td class="text-secondary" th:text="${#numbers.formatDecimal(nonActiveChildrenBalances.get(iStat.index), 1, 'WHITESPACE', 2, 'COMMA')}"> </td>
          <td class="text-secondary" th:text="${#numbers.formatDecimal(nonActiveChildrenPaymentBalances.get(iStat.index), 1, 'WHITESPACE', 2, 'COMMA')}"> </td>
          <td class="text-secondary" th:text="${child.getParents().size()}"> </td>

          <td>
            <a class="btn btn-outline-primary btn-sm" th:href="${'/mvc/child/balance/' + child.id}" role="button">Transakcje</a>
            <a class="btn btn-outline-primary btn-sm" th:href="${'/mvc/child/' + child.id}" role="button">Edytuj</a>
          </td>
        </div>
      </tr>


      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Konto techniczne </td>
        <td>Zaokrąglenia</td>
        <td th:text="${#numbers.formatDecimal(schoolClassTechnicalAccountBalance, 1, 'WHITESPACE', 2, 'COMMA')}"> </td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      </tbody>
    </table>

    <a class="btn btn-primary" th:href="${'/mvc/child/add?schoolClassId=' + schoolClass.id}" role="button">Dodaj kolejnego ucznia</a>
  </div>

  <div th:if="${schoolClass.getChildren().size<2}" >
    <p>Nie masz jeszcze żadnego ucznia na liście w tej klasie</p>
    <a class="btn btn-primary" th:href="${'/mvc/child/add?schoolClassId=' + schoolClass.id}" role="button">Dodaj pierwszego ucznia</a>
  </div>


</div>



  <div class="row border border-primary" style="padding: 20px; margin: 10px; ">
    <h4>Transakcje</h4>
      <div class="p-6">
        <a class="h6" th:href="@{/mvc/transaction/precreate/due}">Dodaj nową składkę</a>
      </div>
      <div class="p-6">
        <a class="h6" th:href="@{/mvc/transaction/precreate/pay}">Dodaj wpłaty na konta uczniów</a>
      </div>
      <div class="p-6">
        <a class="h6" th:href="@{/mvc/transaction/precreate/deb}">Dodaj wydatki na konta uczniów</a>
      </div>
    </div>
  </div>

<footer th:insert="fragments/footer/footer.html"></footer>
</body>
</html>