<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Lista klas</title>
  <link rel="stylesheet" href="/webjars/bootstrap/5.2.0/css/bootstrap.min.css">
  <script src="/webjars/bootstrap/5.2.0/js/bootstrap.min.js"></script>
</head>

<body>
<header th:insert="fragments/header/header.html"></header>
<div class = "container">
  <h2>Lista klas</h2>
  <table class="table table-striped ">
    <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nazwa</th>
      <th scope="col">Skarbnik</th>

      <th scope="col"></th>
    </tr>
    </thead>


    <tbody class="table-group-divider">
    <tr th:each="schoolClass : ${schoolClasses}">
      <th scope="row" th:text="${schoolClass.id}"> </th>
      <td th:text="${schoolClass.name}"> </td>
      <td th:text="${schoolClass.user.getFirstName() + ' ' + schoolClass.user.getLastName()}"> </td>
      <td>
        <a class="btn btn-outline-primary btn-sm" th:href="${'/mvc/class/' + schoolClass.id}" role="button">Zobasz szczegóły</a>
      </td>

    </tr>
    </tbody>
  </table>
  <a class="btn btn-primary" onclick="history.back()" role="button">Powrót</a>
  <a class="btn btn-primary" onclick="window.print()" role="button">Drukuj</a>
</div>
<footer th:insert="fragments/footer/footer.html"></footer>

</body>
</html>