<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Dodaj użytkownika</title>
  <link rel="stylesheet" href="/webjars/bootstrap/5.2.0/css/bootstrap.min.css">
  <script src="/webjars/bootstrap/5.2.0/js/bootstrap.min.js"></script>
</head>

<body>
<header th:insert="fragments/header/header.html"></header>
<div class="container">
  <h2>Dodawanie nowego konta dziecka</h2>

  <form th:method="post" th:action="@{/mvc/child/add}" th:object="${child}">

      <div class="mb-3">
        <label for="firstName" class="form-label">Imię:</label>
        <input type="text" th:field="*{firstName}" class="form-control" id="firstName">
      </div>
      <div class="mb-3">
        <label for="lastName" class="form-label">Nazwisko:</label>
        <input type="text" th:field="*{lastName}" class="form-control" id="lastName">
      </div>


<!--      todo: ewentualnie do zamiany/włączenia dla admina-->
      <input type="hidden" th:field="*{schoolClass}" class="form-control" id="schoolClass">
<!--      <div class="form-group">-->
<!--        <label for="schoolClass" class="form-label">Klasa:</label>-->
<!--        <select class="form-control selectpicker" th:field="*{schoolClass}" id="schoolClass">-->
<!--          <option value="">Wybierz z listy</option>-->
<!--          <option th:each="class : ${schoolClassList}"-->
<!--                  th:value="${class.id}"-->
<!--                  th:text="${class.name}">schoolClass-->
<!--          </option>-->
<!--        </select>-->
<!--      </div>-->
<!--    </div>-->
    <p></p>

    <button type="submit" class="btn btn-primary">Dodaj dziecko</button>
  </form>
</div>
</body>
</html>