<!DOCTYPE html>
<html lang="en" xmlns:background-image="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
      <meta charset="UTF-8">
      <title>Skarbnik klasowy</title>
      <link rel="stylesheet" href="/webjars/bootstrap/5.2.0/css/bootstrap.min.css">
      <script src="/webjars/bootstrap/5.2.0/js/bootstrap.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>


<body>
    <header th:insert="fragments/header/header.html"></header>
    <div class = "container">
      <h3>Skarbnik klasowy</h3>


        <h6>Zapraszamy do nowego serwisu dla skarbników klasowych!!!</h6>
        <h6>Aby rozpocząć wybierz Sign-up i utwórz dla siebie konto, a następnie dodaj klasę, dzieci, ich rodziców i prowadź rozrachunki wsparte naszą aplikacją!!!</h6>
        <p></p>
        <h6>Jeśli masz już konto na naszym serwisie po prostu zaloguj się!</h6>

    <div class="text-center">
<!--        <img class="img-fluid" th:cellpadding="20" th:src="@{/images/skakla.png}" alt="Skarbnik klasowy" >-->
        <img height="320" th:cellpadding="20" th:src="@{/images/skakla.png}" alt="Skarbnik klasowy" >
    </div>


    </div>
    <div th:insert="fragments/footer/footer.html"></div>

</body>
</html>