<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Dodaj rodzica</title>
  <link rel="stylesheet" href="/webjars/bootstrap/5.2.0/css/bootstrap.min.css">
  <script src="/webjars/bootstrap/5.2.0/js/bootstrap.min.js"></script>
</head>

<body>
<header th:insert="fragments/header/header.html"></header>

<div class="container">
  <h2>Dodawanie rodzica</h2>

  <form th:method="post" th:action="@{'/mvc/child/' + __${childId}__ + '/checkparent'}" th:object="${parent}">

      <div class="mb-3">
        <label for="email" class="form-label">Podaj email rodzica:</label>
        <input type="email" th:field="*{email}" th:class="${#fields.hasErrors('email')} ? 'form-control is-invalid' : 'form-control'"
               id="email" aria-describedby="validationServerEmailFeedback">
<!--        class="invalid-feedback"-->
        <div id="validationServerEmailFeedback"
             class="invalid-feedback"
             th:if="${#fields.hasErrors('email')}"
             th:text="${#fields.errors('email')}">
          Wprowadź adres email.
        </div>

      </div>

    <p></p>

      <button type="submit" class="btn btn-primary">Sprawdź email</button>
  </form>


</div>
</body>
</html>