<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Użytkownik - szczegóły</title>
  <link rel="stylesheet" href="/webjars/bootstrap/5.2.0/css/bootstrap.min.css">
  <script src="/webjars/bootstrap/5.2.0/js/bootstrap.min.js"></script>
</head>

<body>
<header th:insert="fragments/header/header.html"></header>
<div class = "container" style="padding: 20px;">
  <div class="row border border-primary" style="padding: 20px; margin: 10px; ">
    <h2>Użytkownik</h2>
    <p th:text="'Imię i nazwisko: ' + ${user.getFirstName()} + ' ' + ${user.getLastName()}"></p>
    <p th:text="'Email: ' + ${user.getEmail()}"></p>
    <p th:text="'Login: ' + ${user.getLogin()}"></p>

  <!--Zmiana hasła???-->
  </div>

  <div sec:authorize="hasAnyRole('ADMIN', 'SUPERUSER')" class="row border border-primary" style="padding: 20px; margin: 10px; ">
    <h2>Skarbnik - Twoje klasy</h2>
    <div th:unless="${user.getSchoolClasses().isEmpty()}">
      <table class="table table-striped ">
        <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nazwa</th>
          <th scope="col"></th>
        </tr>
        </thead>


        <tbody class="table-group-divider">
        <tr th:each="schoolclass : ${user.getSchoolClasses()}">
          <th scope="row" th:text="${schoolclass.id}"> </th>
          <td th:text="${schoolclass.name}"> </td>

          <td>
            <a class="btn btn-outline-primary btn-sm" th:href="${'/mvc/class/' + schoolclass.id}" role="button">Przejdź do klasy</a>
          </td>

        </tr>
        </tbody>
      </table>

      <a class="btn btn-primary" th:href="${'/mvc/class/add?userId=' + user.id}" role="button">Dodaj kolejną klasę</a>
    </div>

    <div th:if="${user.getSchoolClasses().isEmpty()}">
      <p>Nie masz jeszcze utworzonej żadnej klasy, w której jesteś skarbnikiem</p>
      <a class="btn btn-primary" th:href="${'/mvc/class/add?userId=' + user.id}" role="button">Dodaj pierwszą klasę</a>
    </div>
  </div>

  <div th:unless="${user.getChildren().isEmpty()}" class="row border border-primary" style="padding: 20px; margin: 10px; ">
    <p> </p>
    <h2>Rodzic - Twoje dzieci</h2>
    <table class="table table-striped ">
      <thead>
      <tr>
        <th scope="col">Imię</th>
        <th scope="col">Nazwisko</th>
        <th scope="col">Klasa</th>
        <th scope="col"></th>
      </tr>
      </thead>


      <tbody class="table-group-divider">
      <tr th:each="child : ${user.getChildren()}">
        <td th:text="${child.firstName}"> </td>
        <td th:text="${child.lastName}"> </td>
        <td th:text="${child.schoolClass.getName()}"> </td>

        <td>
          <a class="btn btn-outline-primary btn-sm" th:href="${'/mvc/child/balance/' + child.id}" role="button">Pokaż szczegóły rozliczeń</a>
        </td>

      </tr>
      </tbody>
    </table>
  </div>

</div>
<footer th:insert="fragments/footer/footer.html"></footer>
</body>
</html>