<div class="container" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <footer class="d-flex h-5 align-items-stretch justify-content-center justify-content-md-between py-3 px-3 mt-4 border-top" th:style="'background: rgba(158, 212, 246, 0.24)'">
        <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <img height="64" th:cellpadding="20" th:src="@{/images/skakla.png}" alt="Skarbnik klasowy" >
        </a>
    </footer>
</div>